################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TheLedgetCoProblemTest/bin/Debug/netcoreapp2.2
/TheLedgetCoProblemTest/obj
/.vs/TheLedgerCoProblem
